/core/                        @romankazicka
/config/                      @romankazicka
/publishing/                  @romankazicka
/mk/                          @romankazicka
/Makefile                     @romankazicka
/package.json                 @romankazicka
/pnpm-lock.yaml               @romankazicka
